.timeline {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    position: relative;
    margin: auto;
}

.timeline-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.timeline-event {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    position: relative;
    width: 100%;
}

.timeline-event::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background-color: transparent; /* Remove solid color */
    border-left: 2px dotted #3498db; /* Linha pontilhada azul */
    z-index: -1;
    transform: translateX(-50%);
}

.timeline-icon {
    background-color: #3498db;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.timeline-content h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.timeline-content p {
    font-size: 1.1rem;
    color: #555;
}

.left .timeline-icon {
    margin-right: 1rem;
}

.left .timeline-content {
    text-align: left;
}

.right .timeline-icon {
    margin-left: 1rem;
}

.right .timeline-content {
    text-align: right;
}

.timeline-event.left {
    flex-direction: row-reverse;
}

.timeline-event.right {
    flex-direction: row;
}

.timeline-event .timeline-content {
    max-width: 80%; /* Ajuste para melhor responsividade */
}
